@font-face {
  font-family: "Raleway";
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  min-width: 1200px;
  padding-top: 18px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-header {
  background: linear-gradient(#FFFFFF 22px, #FFE17F 22px);
  padding: 0 60px;
}

.logo-container {
  margin-bottom: 22px;
}

.logo-link {
  border: solid 2px transparent;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
}

.logo-link:hover {
  opacity: 60%;
}

.logo-link:active {
  opacity: 30%;
}

.logo-link:focus-visible {
  border-color: #AF4FFF;
}

.main-navigation-link {
  color: #000000;
  text-decoration: none;
}

.main-navigation-link.active {
  border-bottom: solid 2px #000000
}

.header-navigation-link {
  border: solid 2px transparent;
  padding: 4px 0;
  outline: none;
}

.header-navigation-link:hover {
  opacity: 60%;
}

.header-navigation-link:active {
  opacity: 30%;
}

.header-navigation-link:focus-visible {
  border: solid 2px #AF4FFF;
}

.catalog-btn {
  background: transparent;
  display: flex;
  align-items: center;
  border: solid 2px transparent;
  outline: none;
  padding: 0;
}

.catalog-btn-text {
  margin-right: 17px;
}

.catalog-btn::after {
  content: '';
  width: 48px;
  height: 48px;
  border: solid 2px #000000;
  border-radius: 50%;
  background-image: url('../images/plus-icon.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  opacity: 30%;
}

.catalog-btn:hover::after {
  opacity: unset;
  background-image: url('../images/minus-icon.svg');
}

.catalog-btn:focus-visible {
  border-color: #AF4FFF;
}

.login-link, .links-list-item-link {
  display: flex;
  align-items: baseline;
}

.login-link.text, .links-list-item-link.text, .profile-link.text {
  color: #000000;
  text-decoration: none;
}

.links-list-item-link::before, .login-link::before {
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 11px;
}

.links-list-item-link.compare::before {
  background-image: url('../images/compare-icon.svg');
  width: 12px;
  height: 12px;
}

.links-list-item-link.basket::before {
  background-image: url('../images/basket-icon.svg');
  width: 16px;
  height: 14px;
}

.links-list-item-link {
  position: relative;
}

.basket-number {
  min-width: 21px;
  height: 21px;
  position: absolute;
  top: 9px;
  left: -15px;
  border-radius: 50%;
  display: flex;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  box-sizing: border-box;
}

.login-link::before {
  background-image: url('../images/user-icon.svg');
  width: 20px;
  height: 12px;
}

.logout-link {
  opacity: 30%;
}

.auth-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 10px;
  row-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.main-navigation-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 44px;
  row-gap: 20px;
  list-style: none;
  margin: 0 -5px 0 auto;
  padding: 0;
}

.site-navigation {
  display: flex;
  align-items: center;
}

.links-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 28px;
  row-gap: 20px;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.search-form {
  display: flex;
  margin-right: 18px;
}

.search-input, .search-btn {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  box-sizing: border-box;
  height: 40px;
  background-color: transparent;
  border: solid 2px #000000;
  outline: none;
}

.search-input-wrapper {
  position: relative;
}

.search-input-wrapper:focus-within::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -4px;
  border: solid 2px #AF4FFF;
  height: calc(100% + 4px);
  width: calc(100% + 2px);
}

.search-input {
  background-image: url('../images/search-icon.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-origin: content-box;
  padding-left: 16px;
  width: 359px;
  border-radius: 50px 0 0 50px;
  text-indent: 32px;
}

.search-input:disabled, .search-btn:disabled {
  opacity: 30%;
}

.search-btn {
  width: 160px;
  border-radius: 0 50px 50px 0;
  border-left: none;
  position: relative;
}

.search-btn:hover, search-btn:active {
  background-color:#000000;
}

.search-btn:hover {
  color: #FFFFFF;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-btn:focus-visible::before {
  content: '';
  position: absolute;
  border: solid 2px #AF4FFF;
  top: -6px;
  left: -6px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
}

.slider {
  margin-bottom: 67px;
  background: linear-gradient(#FFE17F 133px, #FFFFFF 22px);
  position: relative;
  counter-reset: slider-item-counter
}

.slider-btn {
  width: 24px;
  height: 64px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: solid 2px transparent;
  position: absolute;
  top: 191px;
  box-sizing: border-box;
  z-index: 1;
  outline: none;
}

.slider-btn:hover {
  opacity: 60%;
}

.slider-btn:active {
  opacity: 30%;
}

.slider-btn:focus-visible {
  border-color: #AF4FFF;
}

.slider-back-btn {
  background-image: url('../images/slider-arrow-left.svg');
  left: 29px;
}

.slider-forward-btn {
  background-image: url('../images/slider-arrow-right.svg');
  left: 539px;
}

.slider-item-img {
  margin: -18px 40px 0 0;
  z-index: 0;
}

.slider-item-info {
  margin-top: 104px;
  z-index: 1;
}

.slider-item-info-description {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 50px;
}

.slider-item-info-foreword {
  margin: 0;
  margin-bottom: 29px;
}

.slider-item-container:not(.active) .slider-item-img,
.slider-item-container:not(.active) .slider-item-info {
  display: none;
}

.slider-item-container.active{
  position: relative;
  display: flex;
}

.slider-item-container::before {
  counter-increment: slider-item-counter; /* Указываем идентификатор счетчика */
  font-family: Rubik, sans-serif;
  font-weight: bold;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
  position: absolute;
  top: 65px;
  right: 49px;
  z-index: 0;
}

.slider-item-container:not(.active)::before {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider-item-container:nth-child(-n+9)::before {
  content: '0' counter(slider-item-counter);
}

.slider-item-container:nth-child(n+10)::before {
  content: counter(slider-item-counter);
}

.slider-item-indo-description {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 59px;
}

.slider-item-about-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 3.4px;
  text-transform: uppercase;
  margin-bottom: 50px;
  display: block;
  padding-left: 38px;
  padding-right: 38px;
}

.slider-item-characteristics-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.slider-item-characteristics-item {
  margin-bottom: 10px;
}

.slider-item-characteristics-item:not(:last-child) {
  margin-right: 3.9%;
}

.slider-pagination-list {
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
  bottom: 173px;
  width: 200px;
  justify-content: flex-end;
}

.slider-pagination-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid 2px #000000;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  padding: 0;
  position: relative;
}

.slider-pagination-btn.active {
    background-color: #000000;
}

.slider-pagination-btn:hover {
  opacity: 60%;
}

.slider-pagination-btn:active {
  opacity: 30%;
}

.slider-pagination-btn:focus-visible::before {
  content: '';
  position: absolute;
  left: -4px;
  top: -5px;
  border: solid 2px #AF4FFF;
  height: calc(100% + 5px);
  width: calc(100% + 5px);
}

.slider-pagination-list-item:not(:last-child) {
  margin-right: 20px;
}

.characteristic-value {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 12px;
}

.characteristic-name {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.categories {
  margin-bottom: 78px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  grid-gap: 10px 40px;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: -6px;
}

.categories-list-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: -0.3px;
  border: solid 2px transparent;
  width: 100%;
  display: block;
  padding: 1px;
  text-decoration: none;
  outline: none;
}

.categories-list-link::before {
  content: '';
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center;
  width: 160px;
  height: 160px;
  display: block;
  margin-bottom: 33px;
}

.categories-list-link:hover::before {
  background-color: #FFC700;
}

.categories-list-link:active {
  opacity: 30%;
}

.categories-list-link:focus-visible {
  border-color: #AF4FFF;
}

.categories-list-link.virtual-reality-link::before {
  background-image: url('../images/virtual-reality.svg');
  background-size: 97px 55px;
}

.categories-list-link.monopods-link::before {
  background-image: url('../images/monopods.svg');
  background-size: 86px 117px;
  background-position: bottom;
}

.categories-list-link.action-camera-link::before {
  background-image: url('../images/action-camera.svg');
  background-size: 71px 87px;
}

.categories-list-link.fitness-bracelet-link::before {
  background-image: url('../images/fitness-bracelet.svg');
  background-size: 107px 65px;
}

.categories-list-link.smart-watch-link::before {
  background-image: url('../images/smart-watch.svg');
  background-size: 56px 98px;
}

.categories-list-link.quadrocopter-link::before {
  background-image: url('../images/quadrocopter.svg');
  background-size: 132px 69px;
}

.benefits {
  background: linear-gradient(#FFFFFF 102px, #F0F0F0 102px);
  min-height: 391px;
  margin-bottom: 70px;
}

.benefits-container {
  display: flex;
  min-height: 319px;
}

.benefits-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 64px;
  border-right: solid 7px #000000;
  margin-right: 116px;
}

.benefits-list-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-right: 116px;
  text-transform: uppercase;
  letter-spacing: 3.4px;
  width: 160px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.benefits-list-link.btn.active::after {
  display: none;
}

.benefits-info-list-item {
  display: flex;
}

.benefits-info-container {
  margin-right: 104px;
}

.benefits-info-list-item::after {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-info-list-item.delivery::after {
  background-image: url('../images/delivery-icon.svg');
  width: 135px;
  height: 176px;
}

.benefits-info-list-item.guarantee::after {
  background-image: url('../images/guarantee-icon.svg');
  width: 171px;
  height: 195px;
}

.benefits-info-list-item.credit::after {
  background-image: url('../images/credit-icon.svg');
  width: 156px;
  height: 188px;
}

.benefits-info-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 73px;
}

.benefits-list-item {
  position: relative;
}

.benefits-list-item:not(:last-child) {
  margin-bottom: 36px;
}

.benefits-list-item.active {
  background-color: #000000;
}

.benefits-list-item.active .benefits-list-link {
  color: #FFE17F;
}

.benefits-list-item.active .benefits-list-link.btn::after {
  display: none;
}

.benefits-list-item.active .benefits-list-link.btn:focus-visible {
  border-color: transparent;
}

.benefits-list-item.active .benefits-list-link:hover {
  color: rgba(255, 225, 127, 0.5)
}

.benefits-list-item.active .benefits-list-link:active {
  color: rgba(255, 225, 127, 0.3)
}

.benefits-list-item.active:focus-within:before {
    content: '';
    position: absolute;
    border: solid 2px #AF4FFF;
    top: -4px;
    left: -4px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
}

.benefits-info-list-item-header {
  margin-bottom: 34px;
  margin-top: 0;
}

.benefits-info-list-item:not(.active) {
  display: none;
}

.benefits-info-list-item-description {
  width: 455px;
  margin: 0;
}

.text {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.delivery {
  margin-bottom: 67px;
}

.delivery-link-container {
  display: flex;
  width: 100%;
  border: solid 2px transparent;
  outline: none;
  position: relative;
}

.delivery-link-container:hover .delivery-link::before{
  background-color: #FFC700;
}

.delivery-link-container:active{
  opacity: 30%;
}

.delivery-link-container:focus-within:before {
  content: '';
  position: absolute;
  left: -4px;
  top: -4px;
  border: solid 2px #AF4FFF;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
}

.delivery-info-btn:hover {
  opacity: 60%
}

.delivery-info-btn:focus {
  opacity: 30%;
}

.delivery-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000000;
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  outline: none;
  text-decoration: none;
}

.delivery-link::before {
  content: '';
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  display: inline-block;
  background-image: url('../images/car-icon.svg');
  background-size: 49px 31px;
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-link-text {
  margin: 0 auto;
}

.delivery-info-btn {
  width: 125px;
  height: 100px;
  border: none;
  background-color: #F0F0F0;
  position: relative;
  outline: none;
  padding: 0;
}

.delivery-info-btn::after {
  content: '';
  background-color: rgba(220, 220, 220, 0.5);
  background-image: url('../images/info-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  top: 49%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.main-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.text-bold {
  font-family: Rubik, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.about-item {
  width: 46%;
}

.about-item::before {
  content: '';
  border-top: solid #000000 7px;
  display: block;
  width: 84px;
  margin-bottom: 40px;
}

.about-header {
  margin: 0 0 48px 0;
}

.about-us-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 3.4px;
  color: #000000;
  text-decoration: none;
  padding-left: 22px;
  padding-right: 22px;
}

.about-contacts-header {
  margin: 0 0 15px 0;
}

.about-description {
  margin-top: 0;
  margin-bottom: 30px;
}

.about-info-companies-list-item {
  display: flex;
  align-items: center;
}

.about-info-companies-list-item::before {
  content: '';
  background-color: #FFC700;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 26px 0 1px;
}

.working-hours-list {
  list-style: none;
}

.about-info-companies-list, .working-hours-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.about-info-companies-list-item:not(:last-child) {
  margin-bottom: 19px;
}

.about-phone {
  color: #444444;
}

.about-phone:hover {
  text-decoration: none;
}

.title-3 {
  font-family: Rubik, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  letter-spacing: 0.2px
}

.write-us-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 3.4px;
  text-decoration: none;
  padding-left: 34px;
  padding-right: 34px;
}

.subscribe {
  background-color: #F0F0F0;
  padding: 64px 133px 56px 147px;
}

.subscribe-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 141px;
}

.subscribe-header-title {
  margin: 0 30px 0 0;
  width: 862px;
}

.subscribe-header-description {
  margin: 9px 0 0 0;
}

.subscribe-content-container {
  display: flex;
  align-items: center;
}

.subscribe-form {
  display: flex;
  margin: 2px 188px 0 -5px;
}

.subscribe-email-input {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  width: 540px;
  border: none;
  border-bottom: solid 3px #C4C4C4;
  background: none;
  padding-left: 15px;
  outline: none;
}

.subscribe-email-input::placeholder {
  color: #444444;
  opacity: 50%;
}

.subscribe-email-input:focus-visible {
  background-color: #DCDCDC;
}

.subscribe-email-input:invalid:not(:placeholder-shown) {
  border-bottom-color: #FF3D3D;
}

.subscribe-btn {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 3.4px;
  text-transform: uppercase;
  padding: 16px 36px;
  border: solid 3px #C4C4C4;
  outline: none;
  position: relative;
}

.subscribe-btn:active, .subscribe-btn:hover {
  background-color: #000000;
}

.subscribe-btn:hover{
  color: #FFFFFF;
}

.subscribe-btn:active{
  color:rgba(255, 255, 255, 0.3)
}

.subscribe-btn:disabled {
  opacity: 30%;
}

.subscribe-btn:focus-visible::before {
  content: '';
  position: absolute;
  border: solid 2px #AF4FFF;
  top: -6px;
  left: -6px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
}

.subscribe-note::before {
  content: '';
  background-image: url('../images/check-mark.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 16.5px;
}

.company-contacts {
  display: flex;
  justify-content: flex-end;
  margin-top: 2px;
}

.company-address {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  max-width: 240px;
  margin-top: -4px;
}

.title-2 {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.4px;
  text-transform: uppercase;
}

.footer-navigation-list {
  list-style: none;
  display: grid;
  grid-template-columns: 128px 126px 132px;
  grid-row-gap: 10px;
  grid-column-gap: 32px;
}

.footer-navigation-list, .social-networks-list {
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-networks-list  {
  display: flex;
  flex-wrap: wrap;
}

.social-network-list-item  {
  margin-right: 2px;
  margin-bottom: 10px;
}

.social-button {
  width: 43px;
  height: 43px;
  display: block;
  outline: none;
  position: relative;
  border: solid 2px transparent;
  padding: 2px;
  box-sizing: border-biox;
}

.social-button::before {
  content: '';
  background-color: #7C7C7C;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.social-button::after {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-button.telegram::after {
  width: 13px;
  height: 11px;
  background-image: url('../images/telegram.svg');
}

.social-button.youtube::after {
  width: 16px;
  height: 11px;
  background-image: url('../images/youtube.svg');
}

.social-button.twitter::after {
  width: 15px;
  height: 14px;
  background-image: url('../images/twitter.svg');
}

.social-button:hover::before, .social-button:active::before {
  background-color: #FFC700;
}

.social-button:active::after {
  opacity: 30%;
}

.social-button:focus-visible {
  border: solid 2px #AF4FFF;
}

.footer-nav {
  min-height: 50px;
}

.footer-navigation-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 3.4px;
  padding: 2px;
  text-decoration: none;
}

.phone-link {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  height: max-content;
}

.footer-link {
  outline: none;
  color: #FFFFFF;
  border: solid 2px transparent;
}

.footer-link:hover, .footer-link:active {
  color: #FFC700;
}

.footer-navigation-link:hover, .footer-link:active {
  border-bottom: solid 2px #FFC700;
  padding-bottom: 4px;
}

.footer-link:active {
  opacity: 30%;
}

.footer-link:focus-visible {
  border-color: #AF4FFF;
}

.catalog-header {
  margin-bottom: 35px;
  box-sizing: border-box;
  padding: 0 60px 22px 60px;
}

.catalog-title {
  margin: 0 0 16px 0;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 16px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: url('../images/breadcrumbs-icon.svg');
  width: 4px;
  height: 7px;
  margin-left: 16px;
}

.breadcrumbs-link {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-products-container {
  padding-top: 25px;
  display: flex;
}

.filters {
  width: 320px;
  padding: 0 60px;
}

.sort {
  display: flex;
  align-items: center;
  padding: 0 40px 20px 40px;
  justify-content: space-between;
}

.filters-header, .sort-header {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 3.4px;
}

.filters-header {
  margin-bottom: 60px;
}

.slider-input {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
}

.filters-category  {
  padding-top: 12px;
}

.filters-category-header {
  border-top: solid 2px #000000;
  padding-top: 12px;
  width: 100%;
}

.filters-label {
  font-family: Rubik, sans-serif;
  font-style: normal;
  Font-size: 16px;
  line-height: 19px;
}

.filters-submit-btn {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}

.select-control {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.products-container {
  background-color: #FFFFFF;
  padding: 70px 40px 78px 40px;
}

.products-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 360px 360px;
  grid-gap: 44px 40px;
  margin-bottom: 44px;
}

.product-image-container {
  margin-bottom: 32px;
}

.product-name {
  margin: 0;
}

.product-price {
  font-family: Rubik, sans-serif;
  Font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.load-more-btn {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 3.4px;
  border: solid 3px #E5E5E5;
  background-color: unset;
  padding: 18px 0;
  width: 100%;
}

.pagination-btn {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.4px;
}

.pagination-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #444444;
  opacity: 30%;
}

.page-footer {
  background: #444444;
  box-sizing: border-box;
  padding-top: 59px;
  padding-bottom: 61px;
}

.footer-container {
  display: grid;
  grid-template-columns: 308px 464px 308px;
  grid-gap: 31px 40px;
}

.footer-logo-container {
  grid-column: 1 / -1;
}

.footer-container::after {
  content: '';
  width: 80px;
  height: 7px;
  background-color: #FFC500;
  display: block;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: center;
  margin-bottom: 13px;
}

.html-academy-link-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 10px;
  row-gap: 20px;
  align-items: center;
  direction: rtl;
}

.html-academy-link {
  border: solid 2px transparent;
  outline: none;
  width: max-content;
  margin-bottom: 12px;
}

.html-academy-link:hover .html-academy-link-logo,
.html-academy-link:active .html-academy-link-logo {
  fill: #FFFFFF;
}

.html-academy-link:active .html-academy-link-logo {
  opacity: 30%;
}

.html-academy-link:focus-visible {
  border-color: #AF4FFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  position: relative;
  padding-top: 8px;
  padding-bottom: 7px;
  background-color: transparent;
  border: solid 2px transparent;
  outline: none;
  z-index: 0;
}

.btn::after {
  content: '';
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  margin: auto auto;
}

.btn:hover::after {
  top: 0;
  height: 100%;
}

.btn:focus-visible {
  border-color: #AF4FFF;
}

.btn:focus-visible::after {
  background-color: #FFE17F;
}

.btn:active::after {
  background-color: #FFCC33;
}

.btn:disabled {
  opacity: 30%;
}
